<!DOCTYPE html>
<html>
  <head>
    <title>Estim8 - Accueil</title>
  </head>
  <body>
    <h1>Bienvenue sur Estim8</h1>

    {{#error}}<p style="color: red;">{{error}}</p>{{/error}}

    <form method="POST" action="/join">
      <label>Pseudo :</label>
      <input type="text" name="pseudo" value="{{pseudo}}" required />

      <div>
        <button type="submit" name="action" value="create">Créer une room</button>
      </div>

      <hr />

      <label>Code de room :</label>
      <input type="text" name="roomCode" placeholder="ex: green-tiger-12" value="{{prefillRoomCode}}" />
      <div>
        <button type="submit" name="action" value="join">Rejoindre une room</button>
      </div>
    </form>
  </body>
</html>
