<!DOCTYPE html>
<html>
  <head>
    <title>Estim8 - Room</title>
  </head>
  <body>
    <h1>Room Estim8</h1>
    <p>Connecté en tant que <strong>{{pseudo}}</strong></p>
    <p>Prochaine étape : affichage des tickets, vote en temps réel, etc.</p>
  </body>
</html>
