body
{
  font-size: 16px;
}

hr {
  border-color: #EFEFEF;
}

.gradient-background{
  background: linear-gradient(to bottom, #192e48, #335e94);
  min-height: 100vh;
}

.title-font {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}